<section style="margin-bottom:60px">
    <div style="float:right;padding-top:15px">
        <span style="font-weight:bold; font-size:39px">
            Administraci&oacute;n de Proveedores
        </span>
    </div>
    <div style="clear:both"></div>
</section>

<div>
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <p-table #dt [columns]="cols" [value]="proveedores" [paginator]="true" [rows]="3" [responsive]="true"
        [(selection)]="_proveedorSelected" dataKey="nombre" class="table"
        [globalFilterFields]="['nombre','usuario.usuario','direccion','razonsocial']">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30" placeholder="Buscar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.usuario.usuario}}</td>
                <td *ngIf="rowData.estado == true">
                    Activo
                </td>
                <td *ngIf="rowData.estado == false">
                    Inactivo
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div style="color:#94a1aa; text-align: center;" id="pag">
    <span id="nw" style="float:right">
        <button class="btn-al" (click)='agregarProveedor()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">add</i>
            NUEVO PROVEEDOR
        </button>
        <button class="btn-al" (click)='editarProveedor()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">edit</i>
            EDITAR PROVEEDOR
        </button>
        <button class="btn-al" (click)='verProveedor()'>
            <i class="material-icons" style="vertical-align:middle">visibility</i>
            VER PROVEEDOR
        </button>
    </span>
    <div style="clear:both"></div>
</div>

<!-- MODAL PARA AGREGAR PROVEEDOR -->
<p-dialog header="Ingrese un nuevo proveedor" [(visible)]="displayDialog" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="registrarProvForm">
        <p-panel [showHeader]="false">
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="name" formControlName="nombre" class="validate form-control" required />
                </div>
                <div class="form-group col s12 m6">
                    <label for="direccion">Direcci&oacute;n</label>
                    <input type="text" id="direccion" formControlName="direccion" class="validate form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="razonSocial">Raz&oacute;n Social</label>
                    <input type="text" id="razonSocial" formControlName="razonSocial" class="validate form-control"
                        required />
                </div>
                <div class="form-group col s12 m6">
                    <label for="nit">NIT</label>
                    <input type="text" id="nit" formControlName="nit" class="validate form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="cuentaBanc">Cuenta Bancaria</label>
                    <input type="text" id="cuentaBanc" formControlName="cuentaBanc" class="validate form-control"
                        required />
                </div>
                <div class="form-group col s12 m6">
                    <label for="telefono">Telefono</label>
                    <input type="text" id="telefono" formControlName="telefono" class="validate form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="estadoUsuario">Estado</label>
                    <p-dropdown [options]="estadosProveedor" formControlName="estadoProveedor"
                        [(ngModel)]="_estadoProveedor" [style]="{'width':'100%'}" class="validate" required></p-dropdown>
                </div>
                <div class="form-group col s12 m6">
                    <label for="usuario">Usuario</label>
                    <p-dropdown [options]="usuariosList" formControlName="usuario" [(ngModel)]="_userSeleccionado"
                        class="validate" required [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" formControlName="cargo" class="validate form-control" required />
            </div>
            <div class="section"></div>
            <div class="form-group">
                <button [disabled]="!registrarProvForm.valid" class="btn btn-primary" type="submit" name="action"
                    (click)="guardarProveedor()">Guardar nuevo proveedor
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </p-panel>
    </form>
</p-dialog>

<!-- MODAL PARA EDITAR PROVEEDOR -->
<p-dialog header="Actualizaci&oacute;n de proveedor" [(visible)]="dialogEditProv"
    [contentStyle]="{'overflow':'visible'}" [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true"
    [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="updateProvForm">
        <input pInputText id="idProv" formControlName="idProv" style="visibility:hidden;display: none;" />
        <div class="row">
            <div class="form-group col s6">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control validate" required />
            </div>
            <div class="form-group col s6">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" formControlName="cargo" class="form-control validate" required />
            </div>
        </div>
        <div class="form-group">
            <label for="direccion">Direcci&oacute;n</label>
            <input type="text" id="direccion" formControlName="direccion" class="form-control validate" required />
        </div>
        <div class="row">
            <div class="form-group col s6">
                <label for="telefono">Telefono</label>
                <input type="text" id="telefono" formControlName="telefono" class="form-control validate" required />
            </div>
            <div class="form-group col s6">
                <label for="razonSocial">Raz&oacute;n Social</label>
                <input type="text" id="razonSocial" formControlName="razonSocial" class="form-control validate" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col s6">
                <label for="nit">NIT</label>
                <input type="text" id="nit" formControlName="nit" class="form-control validate" required />
            </div>
            <div class="form-group col s6">
                <label for="cuentaBanc">Cuenta Bancaria</label>
                <input type="text" id="cuentaBanc" formControlName="cuentaBanc" class="form-control validate" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col s6">
                <label for="estadoTaller">Estado</label>
                <select class="validate form-control" formControlName="estadoProveedor">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
            <div class="form-group col s6">
                <label for="usuario">Usuario</label>
                <select class="validate form-control" required formControlName="usuario" id="usuario">
                    <option *ngFor="let usr of usuariosSource" [value]="usr.usuario">
                        {{usr.nombre}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="!updateProvForm.valid" class="btn btn-primary" type="submit" name="action"
                (click)="actualizarProveedor()">Actualizar proveedor
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</p-dialog>

<!-- MODAL PARA VISUALIZAR PROVEEDOR -->
<p-dialog header="Ver proveedor" [(visible)]="dialogVerProv" [contentStyle]="{'overflow':'visible'}" [responsive]="true"
    [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="verProvForm">
        <p-panel [showHeader]="false">
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre" class="form-control validate" disabled />
                </div>
                <div class="form-group col s12 m6">
                    <label for="direccion">Direcci&oacute;n</label>
                    <input type="text" id="direccion" formControlName="direccion" class="form-control validate" disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="telefono">Telefono</label>
                    <input type="text" id="telefono" formControlName="telefono" class="form-control validate" disabled />
                </div>
                <div class="form-group col s12 m6">
                    <label for="razonSocial">Raz&oacute;n Social</label>
                    <input type="text" id="razonSocial" formControlName="razonSocial" class="form-control validate"
                        disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="nit">NIT</label>
                    <input type="text" id="nit" formControlName="nit" class="form-control validate" disabled />
                </div>
                <div class="form-group col s12 m6">
                    <label for="cuentaBanc">Cuenta Bancaria</label>
                    <input type="text" id="cuentaBanc" formControlName="cuentaBanc" class="form-control validate"
                        disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col s12 m6">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" formControlName="usuario" class="form-control validate" disabled />
                </div>
                <div class="form-group col s12 m6">
                    <label for="cargo">Cargo</label>
                    <input type="text" id="cargo" formControlName="cargo" class="form-control validate" disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="estadoTaller">Estado</label>
                <input type="text" id="estadoP" formControlName="estadoProveedor" class="form-control validate"
                    disabled />
            </div>
        </p-panel>
    </form>
</p-dialog>