<section style="margin-bottom:60px">
    <div style="float:right;padding-top:15px">
        <span style="font-weight:bold; font-size:39px">
            Administraci&oacute;n de Repuestos
        </span>
    </div>
    <div style="clear:both"></div>
</section>

<div>
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <p-table #dt [columns]="cols" [value]="repuestos" [paginator]="true" [rows]="5" [responsive]="true"
        [(selection)]="_repuestoSelected" dataKey="nombre" class="table">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30" placeholder="Buscar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.valor}}</td>
                <td>{{rowData.estado}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="color:#94a1aa; text-align: center;" id="pag">
    <span id="nw" style="float:right">
        <button class="btn-al" (click)='agregarRepuesto()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">add</i>
            NUEVO REPUESTO
        </button>
        <button class="btn-al" (click)='editarRepuesto()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">edit</i>
            EDITAR REPUESTO
        </button>
        <button class="btn-al" (click)='verRepuesto()'>
            <i class="material-icons" style="vertical-align:middle">visibility</i>
            VER REPUESTO
        </button>
    </span>
    <div style="clear:both"></div>
</div>

<!-- MODAL PARA AGREGAR REPUESTO -->
<p-dialog header="Agregar nuevo repuesto" [(visible)]="displayDialog" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="registrarRepForm">
        <p-panel [showHeader]="false">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" formControlName="nombre" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="direccion">Valor</label>
                <input type="text" id="valor" formControlName="valor" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="estadoUsuario">Estado</label>
                <p-dropdown [options]="estadosRepuesto" formControlName="estadoRepuesto" [(ngModel)]="_estadoRepuesto"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <button [disabled]="!registrarRepForm.valid" class="btn btn-primary" type="submit" name="action"
                    (click)="guardarRepuesto()">Guardar nuevo repuesto
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </p-panel>
    </form>
</p-dialog>

<!-- MODAL PARA EDITAR REPUESTO -->
<p-dialog header="Actualización de repuesto" [(visible)]="dialogEditRep" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="updateRepForm">
        <p-panel [showHeader]="false">
            <input pInputText id="idRep" formControlName="idRep" style="visibility:hidden;display:none" />
            <div class="form-group">
                <input type="text" id="nombre" formControlName="nombre" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <input type="text" id="valor" formControlName="valor" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="estadoTaller">Estado</label>
                <p-dropdown [options]="estadosRepuesto" formControlName="estadoRepuesto" [(ngModel)]="_estadoRepuesto"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <button [disabled]="!updateRepForm.valid" class="btn btn-primary" type="submit" name="action"
                    (click)="actualizarRepuesto()">Actualizar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </p-panel>
    </form>
</p-dialog>

<!-- MODAL PARA VISUALIZAR REPUESTOS -->
<p-dialog header="Ver repuesto" [(visible)]="dialogVerRep" [contentStyle]="{'overflow':'visible'}" [responsive]="true"
    [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="verRepForm">
        <p-panel [showHeader]="false">
            <div class="form-group">
                <input type="text" id="nombre" formControlName="nombre" class="form-control validate" disabled />
            </div>
            <div class="form-group">
                <input type="text" id="valor" formControlName="valor" class="form-control validate" disabled />
            </div>
            <div class="form-group">
                <input type="text" id="estadoR" formControlName="estadoRepuesto" class="form-control validate"
                    disabled />
            </div>
            <div class="form-group">
                <input type="text" id="fechaC" formControlName="fechaCreacion" class="form-control validate" disabled />
            </div>
        </p-panel>
    </form>
</p-dialog>