
        <img src="../assets/images/logo.png" alt="Logo autolink" title="Autolink" style="width:230px;margin-top: 36px;display: block;margin-left:auto;margin-right: auto;">
        <div style="background-color: #f0fbfc; margin-top:55px;">
            <ul class="menu">
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalUsuario()'>Usuarios</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalTaller()'>Talleres</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalAseguradora()'>Aseguradoras</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalMarca()'>Marcas</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalModelo()'>Modelos</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalProveedor()'>Proveedores</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalRepuesto()'>Repuestos</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalCallCenter()'>CallCenter</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='principalStar()'>Star</a>
                </li>
                <li>
                    <i class="material-icons menu-icon" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <a (click)='logOut()'>Salir</a>
                </li>
    
            </ul>
            <div style="display: table;width: 100%;">
                <div class="lme" style="background-color: #30ccd3;left: 0px;">
                    &nbsp;
                </div>
                <div class="lme" style="background-color: #022238;right: 12px;">
                    &nbsp;
                </div>
            </div>
        </div>
        <div style="text-align: center; font-weight: bold; margin-top:25px">
            <i class="material-icons" style="vertical-align:middle">account_circle</i>
            <span>ADMIN</span>
        </div>
