
        <img src="../assets/images/logo.png" alt="Logo autolink" title="Autolink" style="width:230px;margin-top: 36px;display: block;margin-left:auto;margin-right: auto;">
        <div style="background-color: #f0fbfc; margin-top:55px;">
            <ul class="menu">
                <li style="border:1px solid #30ccd3; padding:8px; background-color: #30ccd3; border-radius:25px 0 0 25px;border-right:6px solid #022238;">
                    <i class="material-icons" style="vertical-align:middle; font-size:40px; color:#fff">add</i>
                    <span><a href="#" style="color:#fff">Usuarios</a></span>
                </li>
                <li><a (click)='principalUsuario()'>Usuarios</a></li>
                <li><a (click)='principalTaller()'>Talleres</a></li>
                <li><a (click)='principalAseguradora()'>Aseguradoras</a></li>
                <li><a (click)='principalMarca()'>Marcas</a></li>
                <li><a (click)='principalModelo()'>Modelos</a></li>
                <li><a (click)='principalProveedor()'>Proveedores</a></li>
                <li><a (click)='principalRepuesto()'>Repuestos</a></li>
                <li><a (click)='principalCallCenter()'>CallCenter</a></li>
                <li><a (click)='principalStar()'>Star</a></li>
                <li><a (click)='logOut()'>Salir</a></li>
    
            </ul>
            <div style="display: table;width: 100%;">
                <div class="lme" style="background-color: #30ccd3;left: 0px;">
                    &nbsp;
                </div>
                <div class="lme" style="background-color: #022238;right: 12px;">
                    &nbsp;
                </div>
            </div>
        </div>
        <div style="text-align: center; font-weight: bold; margin-top:25px">
            <i class="material-icons" style="vertical-align:middle">account_circle</i>
            <span>ADMIN</span>
        </div>
