<div class="row">
    <div class="col s12 m12 l12 xl12">
        <ul id="tabs-sw" class="tabs" style="width: 100%; display: flex; overflow-x: hidden;">
            <li class="tab col s2 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_ing" #a_ing class="active" (click)="BuildStatus('ing')">INGRESADAS</a></li>
            <li class="tab col s2 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_coa"  (click)="BuildStatus('COA')">COTIZACION ABIERTA</a></li>
            <li class="tab col s2 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_pea" (click)="BuildStatus('PEA')">PENDIENTE POR APROBAR</a></li>
            <li class="tab col s2 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_cea" (click)="BuildStatus('CEA')">CERRADA POR ASEGURADORA</a></li>
            <li class="tab col s4 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_goc" (click)="BuildStatus('GOC')">GENERAR ORDEN DE COMPRA</a></li>
        </ul>
        <div id=taf></div>
        <div id="div_1" class="col s12 tab-white">
            <p-table class="table" #tableResultByState [columns]="cols" [value]="registro" [paginator]="true" 
                [rows]="10" [responsive]="true" [(selection)]="_registroSelected" datakey="id">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="30" placeholder="Buscar"
                        (input)="tableResultByState.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                  </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Fecha</th>
                        <th>Código</th>
                        <th>No. Reclamo</th>
                        <th>Placa</th>  
                        <th>Chasis</th>
                        <th>Motor</th>
                        <th>Comentarios Taller</th>
                        <th>Comentarios Aseguradora</th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- <div style="color:#94a1aa; text-align: center;" id="pag"> -->
        <div style="color:#94a1aa; text-align: center;" [style.visibility]=" condicionPendienteAprobar ? 'hidden' : 'visible' ">
            <span id="nw" style="float:right">
              <button class="btn-al" (click)='EditarSolicitud()' style="margin-right:8px">
                <i class="material-icons" style="vertical-align:middle">edit</i>
                EDITAR SOLICITUD
              </button>
              <button class="btn-al" (click)='VerPiezasSolicitud()' style="margin-right:8px">
                <i class="material-icons" style="vertical-align:middle">visibility</i>
                VER PIEZAS
              </button>
            </span>
            <div style="clear:both"></div>
        </div>

        <div style="color:#94a1aa; text-align: center;" [style.visibility]=" condicionPendienteAprobar ? 'visible' : 'hidden' ">
            <span id="nw" style="float:right">             
              <button class="btn-al" (click)='verOfertas()' style="margin-right:8px">
                <i class="material-icons" style="vertical-align:middle">visibility</i>
                VER OFERTAS
              </button>
            </span>
            <div style="clear:both"></div>
        </div>



        <!-- MODAL PARA EDITAR SOLICITUD -->
        <p-dialog header="Actualizaci&oacute;n de solicitud" [(visible)]="dialogEditSoli" [contentStyle]="{'overflow':'visible'}" [responsive]="true" [closable]="true" showEffect="fade" [modal]="true" [maximizable]="true" [style]="{width: '720px', height: '48px'}">
        <form [formGroup]="updateSoliForm">
            <div class="form-group">
                <input pInputText id="id" formControlName="id" style="visibility: hidden;" />
            </div>
            <div class="form-group">
                <label for="NoReclamo">No Reclamo</label>
                <input type="text" id="NoReclamo" formControlName="NoReclamo" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="comentariosAseguradora">Comentarios</label>
                <input type="text" id="comentariosAseguradora" formControlName="comentariosAseguradora" class="validate form-control" />
            </div>
            <div class="form-group">
                <label for="fechad">Fecha Inicial</label>                
                <p-calendar id="calendar_fechad" [(ngModel)]="fechaInicio" showTime="true" dateFormat="dd/mm/yy" formControlName="fechaInicio" hourFormat="24" class="validate form-control"></p-calendar>                
            </div>
            <div class="form-group">
                <label for="fechaa">Fecha Final</label>
                <p-calendar id="calendar_fechaa" [(ngModel)]="fechaFin" showTime="true" dateFormat="dd/mm/yy" formControlName="fechaFin" hourFormat="24" class="validate form-control"></p-calendar>                
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <div style="width: 100%; display: flex;">
                    <div style="width: 33%; display: flex; flex-direction: column;">
                        <button [disabled]="!updateSoliForm.valid" class="btn btn-primary" type="submit" name="action"
                        (click)="CerrarAseguradora()" style="margin-left: 10px;">Cerrar</button>
                    </div>
                    <div style="width: 33%; display: flex; flex-direction: column;">
                        <button [disabled]="!updateSoliForm.valid" class="btn btn-primary" type="submit" name="action"
                        (click)="Anular()" style="margin-left: 10px;">Anular</button>
                    </div>
                    <div style="width: 33%; display: flex; flex-direction: column;">
                        <button [disabled]="!updateSoliForm.valid" class="btn btn-primary" type="submit" name="action"
                        (click)="AceptarSoli()" style="margin-left: 10px;">Procesar</button>
                    </div>
                </div>
            </div>
        </form>
        </p-dialog>


        <!-- MODAL PARA VER PIEZA -->
        <p-dialog header="Ver piezas" [(visible)]="dialogVerPieza" [contentStyle]="{'overflow':'visible'}" [responsive]="true" [closable]="true" showEffect="fade" [modal]="true" [maximizable]="true" [style]="{width: '720px', height: '48px'}">
            <form [formGroup]="viewSoliForm">
                <p-table class="table" #tableResultVerPieza [columns]="cols_verpiezas" [value]="registroview" [paginator]="true" 
                [rows]="10" [responsive]="true" [(selection)]="_registroviewSelected    " datakey="id">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="30" placeholder="Buscar"
                            (input)="tableResultVerPieza.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <!-- <th style="width: 3em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th> -->
                            <th>Nombre</th>
                            <th>Valor</th>
                            <th>Estado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <!-- <tr>
                            <ng-container *ngFor="let col of columns; let i = index">
                                <td *ngIf="col.field == 'estado'">
                                    aplica
                                </td>
                                <td *ngIf="col.field != 'estado'">
                                    {{rowData[col.field]}}
                                </td>
                            </ng-container>
                        </tr> -->
                        <tr [pSelectableRow]="rowData">
                            <!-- <td>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td> -->
                            <td *ngFor="let col of columns">
                                <span *ngIf="col.field == 'repuesto' && col.subfield == 'nombre'">
                                    {{rowData[col.field][col.subfield]}}
                                </span>
                                <span *ngIf="col.field == 'repuesto' && col.subfield == 'valor'">
                                    {{rowData[col.field][col.subfield] | currency: 0: "$"}}
                                </span>
                                <input *ngIf="col.field == 'aplica'" type="checkbox" [checked]="rowData[col.field]" style="position: inherit; pointer-events: auto; opacity: 1;" (change)="SetRepuestoSoli(rowData, $event.target.checked)" >
                            </td>
                        </tr>
                    </ng-template>  
                </p-table>
            </form>
        </p-dialog>

        <p-dialog header="Ver ofertas" [(visible)]="dialogOfertProv" [contentStyle]="{'overflow-y':'auto'}" [responsive]="true" [closable]="true" showEffect="fade" [modal]="true" [maximizable]="true" [style]="{width: '720px', height: '100%; overflow-y: auto;'}">
            <!-- <form [formGroup]="viewOferProv"> -->
                <!-- <button (click)="OfertaProv()">Crear component</button> -->
                <div>
                    <ng-template appContenedorListProvOfer></ng-template>
                </div>
            <!-- </form> -->
        </p-dialog>
        <!-- <div id="2" class="col s12 tab-white">ANULADAS</div>
        <div id="3" class="col s12 tab-white">ENTREGADAS</div>
        <div id="4" class="col s12 tab-white">CERRADAS</div>
        <div id="5" class="col s12 tab-white">CERRADAS POR ASEGURADORA</div> -->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>