<section style="margin-bottom:60px">
    <div style="float:right;padding-top:15px">
        <span style="font-weight:bold; font-size:39px">
            Administraci&oacute;n de Modelos
        </span>
    </div>
    <div style="clear:both"></div>
</section>

<div>
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <p-table #dt [columns]="cols" [value]="modelosView" [paginator]="true" [rows]="10" [responsive]="true"
        totalRecords="100" [(selection)]="_modeloSelected" dataKey="nombre" class="table">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30" placeholder="Buscar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.marca}}</td>
                <td>{{rowData.estado}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div style="color:#94a1aa; text-align: center;" id="pag">
    <span id="nw" style="float:right">
        <button class="btn-al" (click)='agregarModelo()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">add</i>
            NUEVO MODELO
        </button>
        <button class="btn-al" (click)='editarModelo()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">edit</i>
            EDITAR MODELO
        </button>
        <button class="btn-al" (click)='verModelo()'>
            <i class="material-icons" style="vertical-align:middle">visibility</i>
            VER MODELO
        </button>
    </span>
    <div style="clear:both"></div>
</div>

<!-- MODAL PARA AGREGAR MODELO -->
<p-dialog header="Agregar nuevo modelo" [(visible)]="displayDialog" [contentStyle]="{'overflow':'visible'}" [responsive]="true" [showHeader]="true"
    showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="registrarModeloForm">
        <p-panel [showHeader]="false">
            <div class="form-group">
                <label for="user">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="marcaModelo">Marca del modelo</label>
                <p-dropdown [options]="marcasModelo" formControlName="marcaModelo" [(ngModel)]="_marcaSeleccionada"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <label for="estadoModelo">Estado</label>
                <p-dropdown [options]="estadosModelo" formControlName="estadoModelo" [(ngModel)]="_estadoModelo"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <button [disabled]="!registrarModeloForm.valid" class="btn btn-primary" type="submit" name="action"
                    (click)="guardarModelo()">
                    Guardar nuevo modelo
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </p-panel>
    </form>
</p-dialog>

<!-- MODAL PARA EDITAR MODELO -->
<p-dialog header="Actualizaci&oacute;n de modelo" [(visible)]="dialogEditMdl" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="updateModeloForm">
        <p-panel [showHeader]="false">
            <div>
                <input pInputText id="idMdl" formControlName="idMdl" style="visibility:hidden" />
            </div>
            <div class="form-group">
                <label for="user">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="marcaModelo">Marca del modelo</label>
                <p-dropdown [options]="marcasModelo" formControlName="marcaModelo" [(ngModel)]="_marcaSeleccionada"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <label for="estadoModelo">Estado</label>
                <p-dropdown [options]="estadosModelo" formControlName="estadoModelo" [(ngModel)]="_estadoModelo"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <button [disabled]="!updateModeloForm.valid" class="btn btn-primary" type="submit" name="action"
                    (click)="actualizarModelo()">
                    Actualizar modelo
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </p-panel>
    </form>
</p-dialog>

<!-- MODAL PARA VISUALIZAR MODELO -->
<p-dialog header="Ver modelo" [(visible)]="dialogVerMdl" [contentStyle]="{'overflow':'visible'}" [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="verModeloForm">
        <p-panel [showHeader]="false">
            <div class="form-group">
                <input type="text" id="nombre" formControlName="nombre" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="marcaModelo">Marca del modelo</label>
                <input type="text" id="marcaModelo" formControlName="marcaModelo" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="estadoModelo">Estado</label>
                <input type="text" id="estadoModelo" formControlName="estadoModelo" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="fechaC">Fecha de creaci&oacute;n</label>
                <input type="text" id="fechaC" formControlName="fechaCreacion" class="validate form-control" disabled />
            </div>
        </p-panel>
    </form>
</p-dialog>