<div class="row">
    <div class="col s12 m12 l12 xl12">
        <ul id="tabs-sw" class="tabs" style="width: 100%; display: flex; overflow-x: hidden;">
            <li class="tab col s2 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_coa" #a_ing class="active" (click)="BuildStatus('COA')">COTIZACION ABIERTA</a></li>
            <li class="tab col s2 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_goc" #a_goc (click)="BuildStatus('GOC')">GENERAR ORDEN DE COMPRA</a></li>
            <li class="tab col s2 hoverable" style="width: 100%; display: flex; cursor: pointer;"><a id="a_dep" #a_dep (click)="BuildStatus('DEP')">DESPACHO POR PROVEEDOR</a></li>
        </ul>
        <div id=taf></div>
        <div id="div_1" class="col s12 tab-white">
            <p-table class="table" #tableResultByState [columns]="cols" [value]="registro" [paginator]="true" 
                [rows]="10" [responsive]="true" [(selection)]="_registroSelected" datakey="id">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="30" placeholder="Buscar"
                        (input)="tableResultByState.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Fecha y hora</th>
                        <th>Código</th>  
                        <th>Placa</th>                                             
                        <th>Chasis</th>
                        <th>Motor</th>
                        <th>Comentarios Aseguradora</th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div style="color:#94a1aa; text-align: center;">
            <span id="nw" style="float:right">
              <button class="btn-al" (click)='EditarSolicitud()' style="margin-right:8px">
                <i class="material-icons" style="vertical-align:middle">edit</i>
                EDITAR SOLICITUD
              </button>
              <button class="btn-al" (click)='VerPiezasSolicitud()' style="margin-right:8px">
                <i class="material-icons" style="vertical-align:middle">visibility</i>
                VER PIEZAS
              </button>
            </span>
            <div style="clear:both"></div>
        </div>

        <!-- MODAL PARA EDITAR SOLICITUD -->
        <p-dialog header="Actualizaci&oacute;n de solicitud" [(visible)]="dialogEditSoli" [contentStyle]="{'overflow':'visible'}" [responsive]="true" [closable]="true" showEffect="fade" [modal]="true" [maximizable]="true" [style]="{width: '720px', height: '48px'}">
            <form [formGroup]="updateSoliForm">
                <div class="form-group">
                    <input pInputText id="id" formControlName="id" style="visibility: hidden;" />
                </div>
                <div class="form-group">
                    <label for="NoReclamo">No Reclamo</label>
                    <input type="text" id="NoReclamo" formControlName="NoReclamo" class="validate form-control" disabled />
                </div>
                <div class="form-group">
                    <label for="comentariosAseguradora">Comentarios</label>
                    <input type="text" id="comentariosAseguradora" formControlName="comentariosAseguradora" class="validate form-control" />
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <div style="width: 100%; display: flex;">                        
                        <div style="width: 33%; display: flex; flex-direction: column;">
                            <button [disabled]="!updateSoliForm.valid" class="btn btn-primary" type="submit" name="action"
                            (click)="AceptarSoli()" style="margin-left: 10px;">Procesar</button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>

         <!-- MODAL PARA VER PIEZA -->
         <p-dialog header="Ver piezas" [(visible)]="dialogVerPieza" [contentStyle]="{'overflow':'visible'}" [responsive]="true" [closable]="true" showEffect="fade" [modal]="true" [maximizable]="true" [style]="{width: '720px', height: '48px'}">
            <form [formGroup]="setOferta">
                <p-table class="table" #tableResultVerPieza [columns]="cols_verpiezas" [value]="registroview" [paginator]="true" 
                [rows]="3" [responsive]="true" [(selection)]="_registroviewSelected" datakey="Repuesto">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="30" placeholder="Buscar"
                              (input)="tableResultVerPieza.filterGlobal($event.target.value, 'contains')" style="width:auto">
                          </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>Repuesto</th>
                            <th>Tipo Vehiculo</th>
                            <th>Año</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <p-tableCheckbox [value]="rowData" (click)="onSelectionChange(rowData)"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of columns;"> 
                                <span>
                                    {{rowData[col.field][col.subfield]}}
                                </span>
                            </td>                           
                        </tr>
                    </ng-template>  
                </p-table>
                <div class="form-group">
                    <!-- <label for="Cantidad_Selected">Cantidad</label> -->
                    <input type="text" id="Hora_Selected" formControlName="cantidad" class="validate form-control" placeholder="Cantidad..." />
                </div>
                <div class="form-group">
                    <!-- <label for="Precio_Selected">Precio</label> -->
                    <input type="text" id="Precio_Selected" formControlName="precio" class="validate form-control" placeholder="Precio..."/>
                </div>
                <div class="form-group">
                    <!-- <label for="Hora_Selected">Hora</label> -->
                    <input type="text" id="Hora_Selected" formControlName="tiempo" class="validate form-control" placeholder="Hora..."/>
                </div>                
                <div class="form-group" style="margin-top: 10px;">
                    <div style="width: 100%; display: flex;">                        
                        <div style="width: 33%; display: flex; flex-direction: column;">
                            <button class="btn btn-primary" type="submit" name="action"
                            (click)="saveRow()" style="margin-left: 10px;">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>
    </div>
</div>