<style>
    select {
        display: inline !important;
        border: 1px solid #c5c3c3 !important;
    }
</style>
<div class="z-depth-3" style="padding:45px;">
    <form [formGroup]="crearSolicitudTaller">
        <p-growl [value]="msgs" sticky="sticky"></p-growl>
        <input type="text" id="codigoSol" formControlName="codigoSol" class="validate" required disabled
            style="display: none;" />
        <div class="row">
            <div class="input-field col s12 valign-wrapper">
                <h5>Paso 1 - Ingreso de datos generales de la solicitud</h5>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="name" formControlName="nombre" class="validate" required autofocus />
                <label for="name">Nombre del propietario</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m3">
                <p-dropdown [options]="marcasModelo" formControlName="marca" [(ngModel)]="_marcaSeleccionada"
                    class="validate" required id="marca"></p-dropdown>
            </div>
            <!--<div class="input-field col s12 m3">
                <input type="text" id="modelo" formControlName="modelo" class="validate" required />
                <label for="modelo">Modelo</label>
            </div>-->
            <div class="input-field col s12 m3">
                <input type="text" id="chasis" formControlName="chasis" class="validate" required />
                <label for="chasis">N° de chasis</label>
            </div>
            <div class="input-field col s12 m2">
                <input type="text" id="anho" formControlName="anho" class="validate" required />
                <label for="anho">A&ntilde;o</label>
            </div>
            <div class="input-field col s12 m2">
                <input type="text" id="tipoV" formControlName="tipoV" class="validate" required />
                <label for="tipoV">Tipo de vehiculo</label>
            </div>
            <div class="input-field col s12 m2">
                <input type="text" id="placa" formControlName="placa" class="validate" required />
                <label for="placa">Placa</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m3">
                <input type="text" id="motor" formControlName="motor" class="validate" required />
                <label for="motor">N° de motor</label>
            </div>
            <div class="input-field col s12 m3">
                <input type="text" id="siniestro" formControlName="siniestro" class="validate" required />
                <label for="siniestro">N° Siniestro</label>
            </div>
            <div class="input-field col s12 m3">
                <input type="text" id="poliza" formControlName="poliza" class="validate" required />
                <label for="poliza">Poliza</label>
            </div>
            <div class="input-field col s12 m3">
                <p-dropdown [options]="aseguradoras" formControlName="aseguradora"
                    [(ngModel)]="_aseguradoraSeleccionada" class="validate" required></p-dropdown>
                <label for="aseguradora">Aseguradora</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <textarea id="comentarios" formControlName="comentarios" class="materialize-textarea validate"
                    required></textarea>
                <label for="comentarios">Comentarios</label>
            </div>
        </div>

        <div>
            <button *ngIf="mostrarRepuestos==false" style="margin-right: 15px;" class="btn" type="submit"
                (click)="limpiarForm()">Limpiar
                formulario</button>
            <button *ngIf="mostrarRepuestos==false" class="btn" type="submit"
                (click)="guardarSolicitud('ING',rowData)">Guardar solicitud</button>
        </div>
    </form>
    <!-- INGRESO DE REPUESTOS-->
    <div *ngIf="mostrarRepuestos==true">
        <form [formGroup]="repuestoForm">
            <div class="row">
                <div class="col s12">
                    <h5>Paso 2 - Ingrese los repuestos que necesita, seleccionelos de la lista y haga clic en el
                        bot&oacute;n
                        guardar:</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <div>Repuestos:</div>
                    <select id="id_rep" formControlName="id_repuesto" style="margin-bottom:15px">
                        <option value="0">Debe seleccionar un valor</option>
                        <option *ngFor="let rep of repuestos" [value]="rep.id">
                            {{rep.nombre}}
                        </option>
                    </select>
                    <button class="btn waves-effect waves-light" type="submit" (click)="save_repuestos()">
                        Guardar<i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s12 m6">
                    <span style="font-weight: bold;">Lista de repuestos</span>
                    <ul class="collection">
                        <li class="collection-item avatar" *ngFor="let repsol of rep_sol"
                            style="min-height: 0px !important;padding-left: 10px !important;">
                            <span class="title">{{repsol.repuesto.nombre}}</span>
                            <a style="position: initial !important;" href="#!" class="secondary-content"><i
                                    class="material-icons">delete</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>