<div class="row" style="height: 100%;" id="bk">
    <div class="col s8 m8 l8 xl8 hide-on-small-only" style="height: 100%;">

    </div>
    <div class="col s12 m4 l4 xl4" style="height: 100%;vertical-align: middle;">
        <img src="../assets/images/logo_login.png" alt="Logo de autolink"/>
        <div class="z-depth-5" style="background-color:#fff;border-radius:45px;padding: 25px">
            <form [formGroup]="loginForm">
                <div class="input-field" style="padding-bottom:25px">
                    <input type="text" placeholder="Correo electr&oacute;nico" class="form-control validate" name = "username" formControlName="username" id="id_username" autofocus required/>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Contrase&ntilde;a" name = "pwd" formControlName="pwd" class="form-control validate" id="id_pwd" required/>
                </div>
                <div class="form-group" style="text-align: center;">
                <button [disabled]="!loginForm.valid" class="waves-effect waves-light btn" (click)='login()'>Ingresar</button>
                </div>                    
                <div class="input-field center-align">
                    <a href="#" (click)='crearContrasenha()' style="color: #022238;">Crear contrase&ntilde;a</a>
                </div>
                <div class="input-field center-align">
                    <a href="#" (click)='recuperarContrasenha()' style="color: #022238;">¿Olvidaste tu contrase&ntilde;a?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<p-growl [value]="msgs" sticky="sticky"></p-growl>