    button{
        border: 1px solid transparent;
        border-radius:15px;
        font-weight: bold;
        background-color: #39c1cd;
        color: #fff;
        font-size:19px;
    }
    button:active {
        border: none;
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }
    button:hover{
        box-shadow: 0 5px 10px rgba(0,0,0,.15);
        border: none;
    }
