<section style="margin-bottom:60px">
    <div style="float:right;padding-top:15px">
        <span style="font-weight:bold; font-size:39px">
            Administraci&oacute;n de Aseguradoras
        </span>
    </div>
    <div style="clear:both"></div>
</section>

<div>
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <p-table #dt [columns]="cols" [value]="aseguradoras" [paginator]="true" [rows]="6" [responsive]="true"
        [(selection)]="_aseguradoraSelected" dataKey="nombre" class="table"
        [globalFilterFields]="['nombre','usuario.usuario','cargo','nit','razonsocial']">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30" placeholder="Buscar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Nombre</th>
                <th>Raz&oacute;n Social</th>
                <th>Usuario</th>
                <th>Cargo</th>
                <th>NIT</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.razonsocial}}</td>
                <td>{{rowData.usuario.usuario}}</td>
                <td>{{rowData.cargo}}</td>
                <td>{{rowData.nit}}</td>
                <td *ngIf="rowData.estado == true">
                    Activo
                </td>
                <td *ngIf="rowData.estado == false">
                    Inactivo
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="color:#94a1aa; text-align: center;" id="pag">
    <span id="nw" style="float:right">
        <button class="btn-al" (click)='agregarAseguradora()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">add</i>
            NUEVO ASEGURADORA
        </button>
        <button class="btn-al" (click)='editarAseguradora()' style="margin-right:8px">
            <i class="material-icons" style="vertical-align:middle">edit</i>
            EDITAR ASEGURADORA
        </button>
        <button class="btn-al" (click)='verAseguradora()'>
            <i class="material-icons" style="vertical-align:middle">visibility</i>
            VER ASEGURADORA
        </button>
    </span>
    <div style="clear:both"></div>
</div>



<!-- MODAL PARA AGREGAR ASEGURADORA -->
<p-dialog header="Ingrese una nueva aseguradora" [(visible)]="displayDialog" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="registrarAseguradoraForm">
        <p-panel [showHeader]="false">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" formControlName="nombre" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="razonSocial">Raz&oacute;n Social</label>
                <input type="text" id="razonSocial" formControlName="razonSocial" class="validate form-control"
                    required />
            </div>
            <div class="form-group">
                <label for="nit">NIT</label>
                <input type="text" id="nit" formControlName="nit" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="iva">IVA</label>
                <input type="text" id="iva" formControlName="iva" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="estadoAseguradora">Estado</label>
                <p-dropdown [options]="estadosAseguradora" formControlName="estadoAseguradora"
                    [(ngModel)]="_estadoAseguradora" class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <p-dropdown [options]="usuariosList" formControlName="usuario" [(ngModel)]="_userSeleccionado"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <label for="usuario">Cargo</label>
                <input type="text" id="cargo" formControlName="cargo" class="validate form-control" required />
            </div>
            <div class="form-group">
                <button [disabled]="!registrarAseguradoraForm.valid" class="btn btn-primary" type="submit" name="action"
                    (click)="guardarAseguradora()">
                    Guardar nueva aseguradora
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </p-panel>
    </form>
</p-dialog>

<!-- MODAL PARA EDITAR ASEGURADORA -->
<p-dialog header="Actualización de aseguradora" [(visible)]="dialogEditAseg" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="updateAsegForm">
        <p-panel [showHeader]="false">
            <input pInputText id="idAseg" formControlName="idAseg" style="visibility:hidden; display: none;" />
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="razonSocial">Raz&oacute;n Social</label>
                <input type="text" id="razonSocial" formControlName="razonSocial" class="validate form-control"
                    required />
            </div>
            <div class="form-group">
                <label for="nit">NIT</label>
                <input type="text" id="nit" formControlName="nit" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="iva">IVA</label>
                <input type="text" id="iva" formControlName="iva" class="validate form-control" required />
            </div>
            <div class="form-group">
                <label for="estadoAseg">Estado</label>
                <p-dropdown [options]="estadosAseguradora" formControlName="estadoAseg" [(ngModel)]="_estadoAseguradora"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <p-dropdown [options]="usuariosList" formControlName="usuario" [(ngModel)]="_userSeleccionado"
                    class="validate" required [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" formControlName="cargo" class="validate form-control" required />
            </div>
            <div class="input-field">
                <button [disabled]="!updateAsegForm.valid" class="btn btn-primary" type="submit" name="action"
                    (click)="actualizarAseguradora()">
                    Actualizar aseguradora
                    <i class="material-icons right" style="vertical-align: middle;">send</i>
                </button>
            </div>
        </p-panel>
    </form>
</p-dialog>

<!-- MODAL PARA VISUALIZAR ASEGURADORA -->
<p-dialog header="Ver Aseguradora" [(visible)]="dialogVerAseg" [contentStyle]="{'overflow':'visible'}"
    [responsive]="true" [showHeader]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <form [formGroup]="verAseguradoraForm">
        <p-panel [showHeader]="false">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="razonSocial">Raz&oacute;n Social</label>
                <input type="text" id="razonSocial" formControlName="razonSocial" class="validate form-control"
                    disabled />
            </div>
            <div class="form-group">
                <label for="nit">NIT</label>
                <input type="text" id="nit" formControlName="nit" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="iva">IVA</label>
                <input type="text" id="iva" formControlName="iva" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="estadoAseg">Estado</label>
                <input type="text" id="estadoA" formControlName="estadoAseguradora" class="validate form-control"
                    disabled />
            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" formControlName="usuario" class="validate form-control" disabled />
            </div>
            <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" formControlName="cargo" class="validate form-control" disabled />
            </div>
        </p-panel>
    </form>
</p-dialog>