<div class="row">
    <div class="col s12 m12 l12 xl12">
        <ul id="tabs-sw" class="tabs">
            <li class="tab col s2 hoverable" title="Ingresadas"><a id="a_ing" #a_ing class="active"
                    (click)="BuildStatus('ING')">INGRESADAS</a></li>
            <li class="tab col s2 hoverable" title="Anuladas"><a id="a_anu" (click)="BuildStatus('ANU')">ANULADAS</a>
            </li>
            <li class="tab col s2 hoverable" title="Despachadas por proveedor"><a id="a_dep"
                    (click)="BuildStatus('DEP')">DESP. POR PROVEEDOR</a></li>
            <li class="tab col s2 hoverable" title="Entregadas a satisfacci&oacute;n del cliente"><a id="a_esc"
                    (click)="BuildStatus('ESC')">ENT. A SAT. CLIENTE</a></li>
            <li class="tab col s2 hoverable" title="Cerradas por desierta"><a id="a_cpd"
                    (click)="BuildStatus('CPD')">CERR. POR DESIERTA</a></li>
            <li class="tab col s2 hoverable" title="Cerradas por aseguradora"><a id="a_cea"
                    (click)="BuildStatus('CEA')">CERR. POR ASEG.</a></li>
        </ul>
        <form>
            <p-growl [value]="msgs" sticky="sticky"></p-growl>
        </form>
        <ng-container *ngIf="MostrarTabla==true; else routerview">
            <div id=taf></div>
            <div id="1" class="col s12 tab-white">
                <p-table class="table" #tableResultByState [columns]="cols" [value]="registro" [paginator]="true"
                    [rows]="10" [responsive]="true" [(selection)]="_registroSelected" datakey="id">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="30" placeholder="Buscar"
                                (input)="tableResultByState.filterGlobal($event.target.value, 'contains')"
                                style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3em">
                            </th>
                            <th>Propietario</th>
                            <th>Tipo</th>
                            <th>Siniestro</th>
                            <th>Motor</th>
                            <th>Placa</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div style="float:left">
                <button class="btn" style="margin-right:8px" (click)="goToForm();">
                    <i class="material-icons" style="vertical-align:middle">add</i>
                    NUEVA SOLICITUD
                </button>
                <button class="btn" (click)="VerPiezasSolicitud()" style="margin-right:8px">
                    <i class="material-icons" style="vertical-align:middle">visibility</i>
                    VER PIEZAS
                </button>
            </div>
        </ng-container>
        <ng-template #routerview>
            <router-outlet></router-outlet>
            <button class="btn" (click)="backToForm()" style="margin-right:8px">
                <i class="material-icons" style="vertical-align:middle">arrow_back</i>
                Regresar
            </button>
            <button class="btn" (click)="finish_sol()">
                <i class="material-icons" style="vertical-align:middle">grade</i>
                Finalizar solicitud
            </button>
        </ng-template>
        <div style="color:#94a1aa;float:right; text-align: center;" class="hide" id="cesta">
            <span id="nw">
                <button class="btn" style="float:right" (click)="MostrarAlerta()">
                    <i class="material-icons" style="vertical-align:middle">edit</i>
                    ENTREGADO A SATISFACCI&Oacute;N
                </button>
            </span>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>

        <p-dialog header="¿Esta seguro que desea cambiar el estado?" [(visible)]="dialogEstado"
            [contentStyle]="{'overflow':'visible'}" [responsive]="true" showEffect="fade" [modal]="true">
            <form [formGroup]="estadoSolForm">
                <button (click)="CambiarEstado()" class="btn waves-effect waves-light" name="action">Si
                    <i class="material-icons right">send</i>
                </button>
                <button style="margin-left:15px" class="btn waves-effect waves-light"
                    (click)="hideDialogEstado()">No</button>
            </form>
        </p-dialog>

    </div>
</div>
<!-- MODAL PARA VER PIEZA -->
<p-dialog header="Ver piezas" [(visible)]="dialogVerPieza" [contentStyle]="{'overflow':'visible'}" [responsive]="true"
    [closable]="true" showEffect="fade" [modal]="true" [style]="{width: '720px', height: '48px'}">
    <p-table class="table" #tableResultVerPieza [columns]="cols_verpiezas" [value]="registroview" [paginator]="true"
        [rows]="10" [responsive]="true" [(selection)]="_viewSoliSelected" datakey="id">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30" placeholder="Buscar"
                    (input)="tableResultVerPieza.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Nombre</th>
                <th>Valor</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    <span *ngIf="col.field == 'nombre'">
                        {{rowData[col.field]}}
                    </span>
                    <span *ngIf="col.field == 'valor'">
                        {{rowData[col.field] | currency: 0: "$"}}
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('.modal').modal();
    });
</script>