html, body{height: 100%; min-height: 100%;}
body{overflow-y: hidden;}
#bk{
    background-image: url('assets/images/home.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left; 
}
ul.menu{
    font-weight: bold; list-style-type: none; font-size:1.2rem; padding-top:20px;
}
ul.menu li{
    padding:15px; text-align: center
}
ul.menu li a{color: #000}
.lme{
    height:8px;position: absolute;width: 50%;
}
.ui-table table td, .table th{
    border-top: 0;
}
.ui-table table thead th {
    color: #30ccd3;
    border-bottom: 2px solid #30ccd3;
}
.ui-table table tbody:before {
    content:" ";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}
.ui-table table tbody tr:hover{
    color:#30ccd3;
    border:1px solid #ececec;
    background-color: #fff;
    border-radius:25px;
    box-shadow: 0px 6px 45px -10px grey;
}
.ui-table table tbody tr:hover td:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.ui-table table tbody tr:hover td:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.ui-table table tbody tr:hover .delete{
    color:#d13535;
}
#pag{
    position: relative;
}
button{
    outline:none;border: 1px solid transparent;vertical-align:middle;text-align:center;display:inline-block;border-radius:15px;padding:8px 10px;font-weight: bold;
}
button:active {
    border: none;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}
button:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border: none;
}
.btn-al{
    background-color:#30ccd3;border-color: #30ccd3;color:#fff
}
body .ui-dialog{
    top:15px !important;
}
ul.menu li:hover, ul.menu li:active{
    cursor:pointer;border:1px solid #30ccd3; padding:11px; background-color: #30ccd3; border-radius:25px 0 0 25px;border-right:6px solid #022238;color:#fff;
}
.menu-icon{
    display:none
}
ul.menu li:hover .menu-icon{
    display:initial
}